.root {
	-fx-base:#001a66;
}
#board {
	/*-fx-background-color:#001a66;*/
}
.world1 {
	-fx-background-color:#3d3dd4;
}
.world2 {
	-fx-background-color:lightgreen;
}
.button {
    -fx-font: bold 20pt "Arial";
}
.tile {
	/*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-border-style: solid;*/
}
.normal {
	/*-fx-border-radius:10px;*/
	-fx-background-color:white;
	-fx-overflow:hidden;
}
.start {
	
}
.goal {
	-fx-background-color:#00A86B;
}
.movedLine {
	/*-fx-background-color:#1F51FF;*/
	-fx-border-width:0;
}
.black {
	-fx-border-color:#3d3dd4;
}
.white {
	-fx-border-color:#3d3dd4;
}
.blank {
	-fx-opacity:0;
}
.dot {
	-fx-border-style:solid;
	-fx-border-color:#0e0e47;
	-fx-background-color:purple;
}