.root {
	-fx-base: rgb(132, 100, 47);
}
.button {
    -fx-font: bold 20pt "Arial";
}
.tile {
	/*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-border-style: solid;*/
}
.normal {
	/*-fx-border-radius:10px;*/
	-fx-background-color:white;
	-fx-overflow:hidden;
}
.start {
	-fx-background-color:white;
	-fx-border-radius:50%;
	-fx-border-style:solid;
	-fx-background-clip:padding-box;
}
.movedLine {
	/*-fx-background-color:#1F51FF;*/
}
 .black {
	-fx-border-color:#70a9e1;
}
.white {
	-fx-border-color:#70a9e1;
}